<div>
    <div class="navbar-inverse">
        <a class="navbar-brand" href="#">KS Notenliste</a>
        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <div id="navbar" class="nav navbar-nav navbar-collapse">
                <form class="navbar-form navbar-left" (ngSubmit)="updateSubjectGradeList()">
                    <div class="form-group">
                        <input type="search" list="Klasse" placeholder="Klasse" name="klasse" class="form-control"
                               (change)="updateFaecher()"
                               [(ngModel)]="klasse" required>
                        <datalist id="Klasse">
                            <option *ngFor="let item of klassen" [value]="item">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <input type="search" list="Fach" placeholder="Fach" name="fach" (change)="updateBloecke()"
                               class="form-control" [disabled]="!klassen.includes(klasse)"
                               [(ngModel)]="fach" required>
                        <datalist id="Fach">
                            <option *ngFor="let item of faecher" [value]="item">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <input type="search" list="Block" placeholder="Block" name="block" class="form-control"
                               [disabled]="!faecher.includes(fach)"
                               [(ngModel)]="block" required>
                        <datalist id="Block">
                            <option *ngFor="let item of bloecke" [value]="item">
                            <option *ngFor="let item of zeugnisse" [value]="'Zeugnis Block ' + item">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Anzeigen</button>
                        <button type="button" class="btn btn-default" (click)="resetSelectValues()">Leeren</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" (click)="showFnlcPopup()">Fachnotenliste anlegen
                        </button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div style="margin: 20px 20px 20px 20px ">
        <ksn-grades *ngIf="subjectGradeList && !subjectGradeList.iszeugnis"
                    [fachnotenliste]="subjectGradeList" (showUpload)="showUploadPopup()">Laden...
        </ksn-grades>
        <ksn-gradesoverview *ngIf="subjectGradeList && subjectGradeList.iszeugnis"
                            [fachnotenliste]="subjectGradeList">Laden...
        </ksn-gradesoverview>
        <div class="alert alert-info" *ngIf="!subjectGradeList">
            Keine Daten für die akutelle Auswahl gefunden!
        </div>
    </div>
    <ksn-upload *ngIf="showUpload" [klasse]="klasse"
                [fachnotenListeID]="subjectGradeList.fachnotenlisteID"
                (hideUpload)="hideUploadPopup($event)">Laden...
    </ksn-upload>
    <ksn-fnlc *ngIf="showFnlc" (hideFnlc)="hideFnlcPopup()">Laden...</ksn-fnlc>
</div>