<form class="form-group " (ngSubmit)="saveGradeList()" #uploadForm="ngForm">
    <div id="myOverlay" class=" overlay container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="h3">Notenlisten Import</h3></div>
            <div class="panel-body">

                <fieldset>
                    <div class="form-check">
                        <div class="radio-inline">
                            <input id="SoMi" type="radio" name="gradeType" value="SoMi" [(ngModel)]="gradeType"
                                   required/>
                            <label for="SoMi">SoMi-Note</label>
                        </div>
                        <div class="radio-inline">
                            <input id="Klausur" type="radio" name="gradeType" value="Klausur" [(ngModel)]="gradeType"
                                   required/>
                            <label for="Klausur">Klausurnote</label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="weight">Gewichtung</label>
                        <input min="1" class="form-control headerDatenInput" id="weight" name="weight" type="number"
                               required
                               [(ngModel)]="gewichtung"/>
                    </div>
                    <div class="col-md-4">
                        <label for="uploadDate">Datum</label>
                        <div class="input-group date headerDatenInput" id="uploadDate" style="width: 150px">
                            <input type="text" class="form-control" [(ngModel)]="datum" name="datum" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>

                    </div>
                </div>


                <div style="min-width: 300px" class="form-group">
                    <label for="rawGrades">Eingabe</label>
                    <textarea id="rawGrades" #rawGrades class="form-control" rows="8"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" (click)="convertGradeList(rawGrades.value)" class="btn btn-default">
                        Analysieren
                    </button>
                </div>

                <div class="col-md-6 form-group">
                    <label for="Status">Vorschau</label>
                    <div style="height: 200px; overflow-y: scroll">
                        <table class="table table-bordered table-striped table-responsive" id="Status">
                            <thead>
                            <tr>
                                <th>
                                    Vorname
                                </th>
                                <th>
                                    Nachname
                                </th>
                                <th>
                                    Note
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="parsedGrades" *ngFor="let item of accepted" [class.invalid]="item.invalid">
                                <td>{{item.vorname}}</td>
                                <td>{{ item.nachname}}</td>
                                <td>{{item.note}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group row col-md-6" style="align-content: center; width: 100%">
                    <button class="btn btn-primary" type="submit"
                            [disabled]="!uploadForm.form.valid || !notenlisteOkStatus">Speichern
                    </button>
                    <button class="btn btn-default" type="button" (click)="onCancel()">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>
</form>