<div *ngIf="zeugnisliste" class="col-md-6">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th colspan="2" align="left">(Unter-)Fach</th>
            <th *ngFor="let item of zeugnisliste.header" [attr.colspan]="item.listencount">
                {{item.kuerzel + " - " + item.block}}
            </th>
        </tr>

        <tr>
            <th colspan="2" align="left">Lehrer</th>
            <th *ngFor="let item of zeugnisliste.header" [attr.colspan]="item.listencount">
                {{item.lehrer}}
            </th>
        </tr>

        <tr>
            <th colspan="2" align="left">
                Wochenstunden
            </th>
            <th *ngFor="let item of zeugnisliste.header" [attr.colspan]="item.listencount" id="wochenS">
                {{item.stundenzahl}}
            </th>
        </tr>

        <tr>
            <th colspan="2" align="left">
                Gewichtung
            </th>
            <th *ngFor="let item of zeugnisliste.subheader">{{item.gewichtung}}</th>
        </tr>

        <tr>
            <th colspan="2" align="left">
                Interne Gewichtung
            </th>
            <th *ngFor="let item of zeugnisliste.subheader">{{item.interneGewichtung | number : '1.0-1'}}</th>
        </tr>
        </thead>
        <thead bgcolor=e2e2e2>
        <th align="left" style="padding-top: 7px; padding-bottom: 5px">
            Nachname
        </th>
        <th align="left" style="padding-top: 7px; padding-bottom: 5px">
            Vorname
        </th>

        <th *ngFor="let item of zeugnisliste.subheader" align="left" bgcolor=e2e2e2>
            {{item.typ}}
        </th>
        <th align="left" bgcolor=e2e2e2>
            Vorschlag
        </th>
        </thead>
        <tr *ngFor="let item of zeugnisliste.body">
            <td>{{item.schueler.name}}</td>
            <td style="padding-top: 1px; padding-bottom: 1px">{{item.schueler.vorname}}</td>
            <td *ngFor="let note of item.noten">{{note}}</td>
            <td>{{item.vorschlag | number : '1.0-1'}}</td>
        </tr>
    </table>
</div>