<div *ngIf="zeugnisliste">
    <table>
        <thead>
        <tr>
            <th colspan="2" align="left">(Unter-)Fach</th>
            <td *ngFor="let item of zeugnisliste.header" [attr.colspan]="item.listencount">
                {{item.kuerzel + " - " + item.block}}
            </td>
        </tr>

        <tr>
            <th colspan="2" align="left">Lehrer</th>
            <td>
                TODO
            </td>
        </tr>

        <tr>
            <th colspan="2" align="left">
                Wochenstunden
            </th>
            <td *ngFor="let item of zeugnisliste.header" [attr.colspan]="item.listencount" id="wochenS">
                {{item.stundenzahl}}
            </td>
        </tr>

        <tr>
            <th colspan="2" align="left">
                Gewichtung
            </th>
            <td *ngFor="let item of zeugnisliste.subheader">{{item.gewichtung}}</td>
        </tr>

        <!-- <tr>
             <th colspan="2" align="left">
                 Interne Gewichtung
             </th>
             <td>0,28</td>
             <td>0,42</td>
             <td>70</td>
             <td>90</td>

         </tr>-->
        </thead>
        <thead bgcolor=e2e2e2>
        <th align="left" style="padding-top: 7px; padding-bottom: 5px">
            Nachname
        </th>
        <th align="left" style="padding-top: 7px; padding-bottom: 5px">
            Vorname
        </th>

        <th *ngFor="let item of zeugnisliste.subheader" align="left" bgcolor=e2e2e2>
            {{item.typ}}
        </th>
        <th align="left" bgcolor=e2e2e2>
            Vorschlag
        </th>
        <th align="left" bgcolor=e2e2e2>
            Note
        </th>
        </thead>
        <tr *ngFor="let item of zeugnisliste.body">
            <td>{{item.schueler.name}}</td>
            <td style="padding-top: 1px; padding-bottom: 1px">{{item.schueler.vorname}}</td>
            <td *ngFor="let note of item.noten">{{note}}</td>
            <td>{{item.vorschlag}}</td>
        </tr>
    </table>

    <br><br><br>

    <button type="button">Speichern</button>
    <button type="button">Abbrechen</button>
</div>