<div>
    <div *ngIf="!showUpload">
        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="#">KS Notenliste</a>
            <div id="navbar" class="nav navbar-nav navbar-collapse">
                <form class="navbar-form navbar-left" (ngSubmit)="updateSubjectGradeList()">
                    <div class="form-group">
                        <input type="search" list="Klasse" placeholder="Klasse" name="klasse"
                               (change)="updateFaecher()"
                               [(ngModel)]="klasse">
                        <datalist id="Klasse">
                            <option *ngFor="let item of klassen" [value]="item">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <input type="search" list="Fach" placeholder="Fach" name="fach" (change)="updateBloecke()"
                               [disabled]="!klassen.includes(klasse)"
                               [(ngModel)]="fach">
                        <datalist id="Fach">
                            <option *ngFor="let item of faecher" [value]="item">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <input type="search" list="Block" placeholder="Block" name="block"
                               [disabled]="!faecher.includes(fach)"
                               [(ngModel)]="block">
                        <datalist id="Block">
                            <option *ngFor="let item of bloecke" [value]="item">
                            <option *ngFor="let item of zeugnisse" [value]="'Zeugnis Block ' + item">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Anzeigen</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <!-- Add divs -->
    <div style="margin: 20px 20px 20px 20px ">
        <ksn-grades *ngIf="subjectGradeList && !subjectGradeList.iszeugnis"
                    [fachnotenliste]="subjectGradeList" (showUpload)="showUploadPopup()"></ksn-grades>
        <ksn-upload *ngIf="showUpload" [klasse]="klasse"
                    [fachnotenListeID]="subjectGradeList.fachnotenlisteID"
                    (hideUpload)="hideUploadPopup($event)"></ksn-upload>
        <ksn-gradesoverview *ngIf="subjectGradeList && subjectGradeList.iszeugnis"
                            [fachnotenliste]="subjectGradeList"></ksn-gradesoverview>
    </div>
</div>