<div>
    <div *ngIf="!showUpload">
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="#">KS Notenliste</a>
            <div id="navbar" class="nav navbar-nav navbar-collapse">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="search" list="Klasse" placeholder="Klasse" name="klasse"
                               (change)="updateFaecher()"
                               [(ngModel)]="klasse">
                        <datalist id="Klasse">
                            <option *ngFor="let item of klassen" [value]="item.Kuerzel">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <input type="search" list="Fach" placeholder="Fach" name="fach" (change)="updateBloecke()" 
                        [(ngModel)]="fach">
                        <datalist id="Fach">
                            <option *ngFor="let item of faecher" [value]="item.fach">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <input type="search" list="Block" placeholder="Block">
                        <datalist id="Block">
                            <option *ngFor="let item of bloecke" [value]="item.block">
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-default">View</button>
                </form>
            </div>
        </nav>
        <br>
        <br>
        <button (click)="showUpload = true">Upload</button>
    </div>
    <!-- Add divs -->
    <ksn-grades *ngIf="!showUpload"></ksn-grades>
    <ksn-upload *ngIf="showUpload" [klasse]="klasse"></ksn-upload>
</div>